<fieldset class="cbi-section">
	<table width="100%" cellspacing="10" id="_xlnetacc_lanip_status_table">
		<tr><td width="20%" id="_lanip_title"></td><td id="_lanip_state"><em></em></td></tr>
	</table>
	<table width="100%" cellspacing="10" id="_xlnetacc_wanip_status_table">
		<tr><td width="20%" id="_wanip_title"></td><td id="_wanip_state"><em></em></td></tr>
	</table>
	<table width="100%" cellspacing="10" id="_xlnetacc_wireguard_status_table">
		<tr><td width="20%" id="_wireguard_title"></td><td title="GOTO wireguard users..." id="_wireguard_state"><em></em></td></tr>
	</table>
	<table width="100%" cellspacing="10" id="_xlnetacc_ipsec_status_table">
		<tr><td title="GO TO IPSEC" width="20%" id="_ipsec_title"></td><td title="GO TO IPSEC user..." id="_ipsec_state"><em></em></td></tr>
	</table>
	<table width="100%" cellspacing="10" id="_xlnetacc_pptp_status_table">
		<tr><td title="GO TO PPTP" width="20%" id="_pptp_title"></td><td title="GO TO PPTP user..." id="_pptp_state"><em></em></td></tr>
	</table>
</fieldset>

<script type="text/javascript">//<![CDATA[
	var wanip_state = document.getElementById('_wanip_state');
	var lanip_state = document.getElementById('_lanip_state');
	var wireguard_state = document.getElementById('_wireguard_state');
	var ipsec_state = document.getElementById('_ipsec_state');
	var pptp_state = document.getElementById('_pptp_state');
	
	var wanip_title = document.getElementById('_wanip_title');
	var lanip_title = document.getElementById('_lanip_title');
	var wireguard_title = document.getElementById('_wireguard_title');
	var ipsec_title = document.getElementById('_ipsec_title');
	var pptp_title = document.getElementById('_pptp_title');
	
	XHR.poll(5, '<%=luci.dispatcher.build_url("admin", "sys", "sysmonitor", "lanip_status")%>', null, function(x, status) {
		if ( x && x.status == 200 ) {
			lanip_title.innerHTML ='<em><b>'+status.lanip_title+'</b></em>';
			lanip_state.innerHTML ='<em><b>'+status.lanip_state+'</b></em>';
		}
	});
	XHR.poll(5, '<%=luci.dispatcher.build_url("admin", "sys", "sysmonitor", "wanip_status")%>', null, function(x, status) {
		if ( x && x.status == 200 ) {
			wanip_title.innerHTML ='<em><b>'+status.wanip_title+'</b></em>';
			wanip_state.innerHTML ='<em><b>'+status.wanip_state+'</b></em>';
		}
	});
	XHR.poll(5, '<%=luci.dispatcher.build_url("admin", "sys", "sysmonitor", "wireguard_status")%>', null, function(x, status) {
		if ( x && x.status == 200 ) {
			wireguard_title.innerHTML ='<em><b>'+status.wireguard_title+'</b></em>';
			wireguard_state.innerHTML ='<em><b>'+status.wireguard_state+'</b></em>';
		}
	});
	XHR.poll(5, '<%=luci.dispatcher.build_url("admin", "sys", "sysmonitor", "ipsec_status")%>', null, function(x, status) {
		if ( x && x.status == 200 ) {
			if ( status.ipsec_state.search(/one/) > 0 ) { 
			ipsec_title.innerHTML ='<em><b></b></em>';
			ipsec_state.innerHTML ='<em><b></b></em>';}
			else {
			ipsec_title.innerHTML ='<em><b><font color=green>IPSEC Users</font></b></em>';
			ipsec_state.innerHTML ='<em><b><a href="/cgi-bin/luci/admin/vpn/ipsec-server/online"><font color=green>'+status.ipsec_state+'</font></a></b></em>';}
		}
	});
	XHR.poll(5, '<%=luci.dispatcher.build_url("admin", "sys", "sysmonitor", "pptp_status")%>', null, function(x, status) {
		if ( x && x.status == 200 ) {
			if ( status.pptp_state.search(/one/) > 0 ) {
			pptp_title.innerHTML ='<em><b></b></em>';
			pptp_state.innerHTML ='<em><b></b></em>';}
			else {
			pptp_title.innerHTML ='<em><b><font color=green>PPTP Users</font></b></em>';
			pptp_state.innerHTML ='<em><b><a href="/cgi-bin/luci/admin/vpn/pptpd/online"><font color=green>'+status.pptp_state+'</font></a></b></em>';}
		}
	});
//]]></script>
